
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    background-color: #fefefe;
    color: #111;
}
h1 {
    font-size: 2em;
}
p {
    font-size: 1.1em;
    line-height: 1.6em;
}
a {
    color: #000;
}
